:root {
    --snow-blue: hsl(220, 55%, 15%);
    --background-white: whitesmoke;
    --dark-text: black;
    --border-color: hsl(0, 0%, 77%);
    --shadow-color: hsl(0, 0%, 73%);
}

.banner {
    position: relative;
    top: 0em;
    background-color: var(--snow-blue);
    margin-top: 0;
    margin-left: 0;
}

.banner img {
    padding-top: .5em;
    padding-bottom: .5em;
    width: 20%;
}

.button {
    position: relative;
    bottom: .7em;
    color: var(--dark-text);
    margin-left: 2em;
    padding-left: .5em;
    padding-right: 1em;
    background-color: var(--background-white);
    display: inline-block;
    text-align: left;
    padding-top: .2em;
}

.button a {
    text-decoration: none;
    color: var(--dark-text);
}

.card {
    display: inline-block;
    width: 25%;
    border: solid;
    border-color: var(--border-color);
    color: whitesmoke;
    background-color: var(--snow-blue);
    border-width: .1em;
    transition: 1s;
}

.card img {
    width: 100%;
}

.card figcaption {
    padding-left: .5em;
    padding-bottom: .3em;
}

#line {
    border: 1px solid hsl(0, 17%, 94%);
    box-shadow: .1em .3em .5em rgb(173, 170, 170);
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 1em 1em 1em var(--shadow-color);
}

#break {
    color: var(--snow-blue);
    padding-left: .5em;
}

.please {
    display: inline-block;
    width: 49%;
}

.please img {
    width: 90%;
    padding-left: 2em;
}

.lastLinks div {
    border: solid;
    border-width: .1em;
    border-color: var(--border-color);
    width: 45%;
    display: inline-block;
    margin-left: 2em;
}

.lastLinks p {
    color: orange;
    padding-left: 1em;
}

.lastLinks h3 {
    margin: 0;
    background-color: var(--border-color);
    padding-left: 1em;
    padding-top: .3em;
    padding-bottom: .3em;
}